.authPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.h2 {
  font-size: 18px;
  margin-bottom: 2px;
}

.formTitle {
  width: 221px;
  height: 70px;
  text-align: center;
  margin-bottom: 24px;
}