.input-wrapper {
  display: flex;
}

.input-wrapper label {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-base {
  background-color: var(--component-fill-light);
  border: 1px var(--component-stroke-dark-soft) solid;
  color: var(--component-text-dark);
  padding: 16px;
}

.input-base::placeholder {
  color: var(--component-text-gray);
}

.base-error {
  border: 1px var(--icon-negative) solid;
  color: var(--icon-negative);
}

.additional-info-wrapper {
  display: flex;
  gap: 8px;
}

.input-base:focus {
  border-color: var(--component-stroke-primary);
  outline: none;
}

.base-error:focus {
  border: 1px var(--icon-negative) solid;
}

.info-svg {
  width: 16px;
  min-width: 16px;
  height: 16px;
  min-height: 16px;
  fill: var(--component-text-gray);
}

.info-svg-error {
  fill: var(--icon-negative);
}

.additional-info-text {
  color: var(--component-text-gray)
}

.text-error {
  color: var(--icon-negative)
}

.input-container {
  position: relative;
}

.eye-svg {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(-50%)
}

.eye-svg:hover {
  transition: transform 0.3s ease;
  transform: translateY(-50%) scale(1.15);
}