.create-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-fill-surface);
  width: 100%;
  height: 88px;
  border: var(--component-stroke-dark-soft) solid;
  color: var(--component-text-dark);
  margin-bottom: 26px;
  padding: 12px;

  p {
    margin-right: auto;
    margin-left: 15px;
  }

  .create-post-avatar {
    max-width: 64px;
  }
}

/* Добавь в CreatePost.css */

.create-post-skeleton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-fill-surface);
  width: 100%;
  height: 88px;
  border: var(--component-stroke-dark-soft) solid;
  color: var(--component-text-dark);
  margin-bottom: 26px;
  padding: 12px;

  .create-post-avatar-skeleton {
    flex-shrink: 0;
  }

  .create-post-text-skeleton {
    margin-right: auto;
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .create-post-skeleton {
    width: 100%;
    height: 60px;
    margin-bottom: 0px;
    padding: 12px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;

    .create-post-avatar-skeleton {
      height: 32px !important;
      width: 32px !important;
    }

    .create-post-button-skeleton {
      width: 140px !important;
      height: 36px !important;
    }
  }
}

.create-post-button {
  width: 211px;
}

@media (max-width: 768px) {
  .create-post {
    width: 100%;
    height: 60px;
    margin-bottom: 0px;
    padding: 12px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  .create-post-button {
    width: 140px;
    height: 36px;
  }

  .create-post-avatar {
    height: 32px;
    width: 32px;
    min-width: 32px;
  }
}