.list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--background-fill-surface);
  border: var(--component-stroke-dark-soft) solid;
  color: var(--component-text-dark);
  padding: 24px;
  padding-bottom: 36px;
  gap: 32px;
  max-width: 372px;
  min-width: 250px;
  width: 100%;
}

.list-container-title {
  margin-bottom: -12px;
  font-size: 16px;
  font-weight: 600;
}
