.person {
  display: flex;
  gap: 12px;
}

.personName {
  height: 24px;
}

.personInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.personOnline {
  height: 24px;
  margin-top: 1px;
  color: #8791b7;
}

.personShortAvatar {
  aspect-ratio: 1 / 1;
  width: 48px;
  height: 48px;
}

@media (max-width: 768px) {
  .person img {
    height: 150px;
  }
}
