.person {
  display: flex;
  gap: 12px;
}

.person-name {
  height: 24px;
}

.person-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.person-online {
  height: 24px;
  margin-top: 1px;
  color: #8791b7;
}

.person-short-avatar {
  aspect-ratio: 1 / 1;
  width: 48px;
  height: 48px;
}

@media (max-width: 768px) {
  .person img {
    height: 150px;
  }
}
