.reactions-count {
  display: flex;
  align-items: center;
  gap: 20px;

  button {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
  }
}

.likes,
.comments-count {
  display: flex;
  gap: 10px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-input {
  width: 100%;
  height: 58px;
}

.comment-input-wrapper {
  width: 100%;
}

.comment-svg-invisible {
  transform: rotate(90deg);
}

.add-comment-button {
  width: 211px;
}

.reactions-count button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .add-comment-button {
    width: 163px;
    height: 36px;
  }

  .add-comment input {
    height: 58px;
  }
}
