.reactionsCount {
  display: flex;
  align-items: center;
  gap: 16px;

  button {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
  }
}

.likes,
.commentsCount {
  display: flex;
  gap: 10px;
}

.likeSvgActive {
  fill: var(--component-text-dark);
}

.commentsSection {
  max-height: 0;
  opacity: 0;
  gap: 16px;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.commentsSectionVisible {
  max-height: 2000px;
  gap: 16px;
  opacity: 1;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentInput {
  width: 100%;
  height: 58px;
}

.commentInputWrapper {
  margin-top: 16px;
  width: 100%;
}

.commentSvgInvisible {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.commentWrapper {
  display: flex;
  justify-content: space-between;
}

.addCommentButton {
  margin-top: 16px;
  width: 211px;
}

.reactionsCount button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .comments {
    gap: 13.5px;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .addCommentButton {
    width: 163px;
    height: 36px;
  }

  .addComment input {
    height: 58px;
  }

  .commentsSectionVisible {
    max-height: 400px;
  }
}