.reactionsCount {
  display: flex;
  align-items: center;
  gap: 20px;

  button {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease;
  }
}

.likes,
.commentsCount {
  display: flex;
  gap: 10px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.commentInput {
  width: 100%;
  height: 58px;
}

.commentInputWrapper {
  width: 100%;
}

.commentSvgInvisible {
  transform: rotate(90deg);
}

.addCommentButton {
  width: 211px;
}

.reactionsCount button:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .comments {
    gap: 13.5px;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .addCommentButton {
    width: 163px;
    height: 36px;
  }

  .addComment input {
    height: 58px;
  }
}