.pushNotificationMessage {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
  background-color: #ff8811cc;
  z-index: 10000;
  color: var(--component-text-dark);
  width: calc(100% - 40px);
  padding: 24px;
  border-radius: 8px;
  margin: 10px;
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.pushNotificationCross {
  width: 16px;
  height: 16px;
}
