.table-chart-wrapper {
  display: grid;
  max-width: 575px;
  width: 100%;
  height: 448px;
}

.table-container {
  grid-area: 1 /1;
  position: relative;
  width: 100%;
  border: 2px solid var(--component-stroke-dark-soft);
  background-color: var(--background-fill-surface);
  padding: 24px;
}

.table-title {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 4px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--component-stroke-dark-soft);
  color: var(--component-text-gray);
}

.second-column {
  margin-left: auto;
  padding-right: 47px;
}

.second-column-header {
  margin-left: auto;
  padding-right: 36px;
}

.header-cell {
  display: flex;
  justify-content: space-between;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--component-stroke-dark-soft);
  height: 48px;
}

.line-chart {
  grid-area: 1 /1;
  z-index: 10;
}

.table-row:last-child {
  border-bottom: none;
}
