.tableChartWrapper {
  display: grid;
  max-width: 575px;
  width: 100%;
  height: 448px;
}

.tableContainer {
  grid-area: 1 /1;
  position: relative;
  width: 100%;
  border: 2px solid var(--component-stroke-dark-soft);
  background-color: var(--background-fill-surface);
  padding: 24px;
}

.tableTitle {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 4px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--component-stroke-dark-soft);
  color: var(--component-text-gray);
}

.secondColumn {
  margin-left: auto;
  padding-right: 47px;
}

.secondColumnHeader {
  margin-left: auto;
  padding-right: 36px;
}

.headerCell {
  display: flex;
  justify-content: space-between;
}

.tableBody {
  display: flex;
  flex-direction: column;
}

.tableRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--component-stroke-dark-soft);
  height: 48px;
}

.lineChart {
  grid-area: 1 /1;
  z-index: 10;
}

.tableRow:last-child {
  border-bottom: none;
}