@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

html {
  min-height: 99vh;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  min-height: 100vh;
}

.theme-wrapper {
  min-height: 100vh;
  padding-top: 94px;
  height: 100%;
  background-color: var(--background-fill-middle);
  color: var(--component-text-dark);
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

#push-notification {
  position: fixed;
  right: 0px;
  top: 100px;
}

@media (max-width: 768px) {
  #push-notification {
    top: 50px;
  }
}

@media (max-width: 768px) {
  .theme-wrapper {
    padding-top: 40px;
  }
}
