.error404Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error404Svg {
  width: 180px;
  height: 180px;
}

.error404Page p {
  text-align: center;
  font-size: 70px;
  margin-top: 47px;
}

@media (max-width: 768px) {
  .error404Page p {
    font-size: 18px;
    margin-top: 0px;
  }

  .error404Svg {
    width: 80px;
    height: 80px;
  }
}
