.main {
  grid-column: 3 / 4;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 200px;
}

.aside {
  grid-column: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.homePage {
  display: grid;
  grid-template-columns: 1fr 85px 700px 85px 1fr;
}

@media (max-width: 1200px) {
  .aside {
    display: none;
  }

  .homePage {
    grid-template-columns: 1fr 700px 1fr;
  }

  .main {
    grid-column: 2 / 3;
  }
}

@media (max-width: 768px) {
  .homePage {
    display: flex;
  }
}