.statistic {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  padding: 24px;
  gap: 24px;
}

.metric-cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.table-charts-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: 50px;
}

.statistic-metric-card {
  width: 100%;
}

.table-chart-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  p {
    font-size: 28px;
    font-weight: 600;
  }
}

@media (max-width: 1000px) {
  .metric-cards {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .metric-cards {
    justify-content: flex-start;
  }

  .table-charts-container {
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    margin-bottom: 200px;
  }
}
