:where(.metric-card) {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  background-color: var(--background-fill-surface);
  border: var(--component-stroke-dark-soft) solid;
  color: var(--component-text-dark);
  width: 100%;
}

.metric-card-value {
  font-weight: 600;
  font-size: 40px;
}

.metric-card-value-comment {
  color: var(--component-text-gray);
}
