.header {
  background-color: var(--background-fill-surface);
  color: var(--component-text-dark);
  text-align: center;
  display: flex;
  height: 68px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
  padding: 12px 24px 12px 24px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.headerDrawer {
  height: 100%;
  width: 288px;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--background-fill-middle);
  z-index: 1000;
}

.headerDrawerTop {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  background-color: var(--background-fill-surface);
}

.drawerNav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 12px 12px 12px;
  gap: 8px;
}

.navLinkDrawer {
  width: 100%;
  color: var(--component-text-gray);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  background-color: var(--background-fill-surface);
  height: 44px;
}

.headerLogoDrawer {
  height: 12px;
}

.headerLogo {
  height: 24px;
}

.homePageLink {
  display: flex;
  align-items: center;
}

.headerMenu,
.profileInfoLink {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  gap: 8px;
  text-decoration: none;
  color: var(--component-text-dark);
}

.headerAvatar {
  width: 24px;
  height: 100%;
}

.headerMenuMobile {
  display: none;
  width: 18px;
  height: 12px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.headerMenuMobile .burgerLine {
  height: 1.5px;
  background-color: var(--component-text-dark);
}

.navLinkHeader {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: var(--component-text-dark);
  padding: 0px 20px 0px 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.1);
  z-index: 999;
}

@media (max-width: 768px) {
  .header {
    height: 30px;
    padding: 6px 12px 6px 12px;

    .headerLogo {
      height: 12px;
    }

    .headerMenuMobile {
      display: flex;
    }

    .headerMenu {
      display: none;
    }
  }
}
