.profile-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  padding: 24px 30px 0px 30px;

  h2 {
    font-size: 22px;
  }
}

.error-message {
  color: red;
}

.profile-info section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  min-width: 575px;
}

.profile-avatar {
  min-width: 64px;
  min-height: 64px;
  max-height: 64px;
}

.username-input,
.email-input {
  width: 327px;
  height: 48px;
}

.description-input {
  width: 575px;
  min-height: 110px;
}

.save-changes-button {
  width: 244px;
  height: 44px;
}

.error-message {
  margin-top: -30px;
}

.logout-button {
  width: 144px;
}

.logout-link-button {
  text-decoration: none;
  color: var(--component-text-dark);
}

.edit-profile {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.second-column-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 1300px) {
  .profile-info section {
    min-width: 100px;
  }
}

@media (max-width: 768px) {

  .username-input,
  .email-input {
    width: 100%;
    height: 48px;
  }

  .edit-profile {
    width: 100%;
  }

  .profile-info {
    display: flex;
    flex-direction: column-reverse;
    gap: 36px;
    width: 100%;
    padding: 12px;
  }

  .profile-info section {
    gap: 12px;
    width: 100%;
  }

  .logout-button {
    width: 96px;
    height: 36px;
  }

  .description-input {
    width: 100%;
  }
}