.authPage {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 375px;
  gap: 24px;
}

.infoSvg {
  width: 16px;
  min-width: 16px;
  height: 16px;
  min-height: 16px;
  fill: var(--icon-negative);
}

.h2 {
  font-size: 17px;
  margin-bottom: 2px;
}

.formTitle {
  width: 221px;
  height: 70px;
  text-align: center;
  margin: auto;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.authErrorMessage {
  color: var(--icon-negative);
}

.userError {
  margin-right: auto;
}

.agreementText {
  font-size: 11px;
  color: var(--component-text-gray);
  text-align: center;
  overflow-wrap: break-word;

  .links {
    font-size: 11px;
    color: var(--component-text-dark);
  }
}

.emailInputWrapper,
.passwordInputWrapper {
  width: 327px;
}

.passwordInputWrapper {
  margin-top: -8px;
}

.emailInput,
.passwordInput {
  width: 100%;
  height: 48px;
}

.submitAuthButton {
  width: 327px;
}

.navLink {
  color: var(--component-text-dark);
}