.create-post-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  padding: 24px;
  background-color: var(--background-fill-surface);
  border: var(--component-stroke-dark-soft) solid;
  color: var(--component-text-dark);
  position: fixed;
  z-index: 600;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.create-post-form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-post-form-title {
  font-size: 32px;
  font-weight: 500;
}

.create-post-form-cross {
  width: 48px;
  height: 48px;
}

.description-input-form {
  height: 58px;
  width: 100%;
}

.upload-file-create-post-svg {
  max-width: 30px;
  width: 100%;
  max-height: 36px;
  height: 100%;
}

.drag-and-drop-create-post-input {
  padding: 24px 0px 24px 32px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: inherit;
  border: 2px var(--component-stroke-dark-soft) dashed;
  width: 100%;
  min-height: 84px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.additional-info {
  color: var(--component-text-gray);
}

.create-post-form-button {
  width: 144px;
  height: 44px;
  margin-left: auto;
}

.create-post-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.create-post-error-message {
  color: red;
}

@media (max-width: 768px) {
  .create-post-form-title {
    font-size: 20px;
  }

  .create-post-form-cross {
    width: 32px;
    height: 32px;
  }

  .create-post-form-button {
    width: 96px;
    height: 36x;
  }
}
