.createPostContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 40px);
  padding: 24px;
  background-color: var(--background-fill-surface);
  border: var(--component-stroke-dark-soft) solid;
  color: var(--component-text-dark);
  position: fixed;
  z-index: 600;
}

.createPostForm {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.createPostFormHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createPostFormTitle {
  font-size: 32px;
  font-weight: 500;
}

.createPostFormCross {
  width: 48px;
  height: 48px;
}

.descriptionInputForm {
  height: 58px;
  width: 100%;
}

.usernameInput {
  height: 48px;
  width: 100%;
  max-width: 327px;
}

.uploadFileCreatePostSvg {
  max-width: 30px;
  min-width: 30px;
  width: 100%;
  max-height: 36px;
  height: 100%;
}

.dragAndDropCreatePostInput {
  padding: 24px 0px 24px 32px;
  display: flex;
  align-items: center;
  gap: 27px;
  background-color: inherit;
  border: 2px var(--component-stroke-dark-soft) dashed;
  width: 100%;
  min-height: 84px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.additionalInfo {
  color: var(--component-text-gray);
}

.createPostFormButton {
  width: 144px;
  height: 44px;
  margin-left: auto;
}

.createPostOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(15px);
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.createPostErrorMessage {
  color: red;
}

.filePreview {
  width: 100%;
  max-width: 150px;
  height: 100;
  object-fit: cover;
  border: 2px var(--component-stroke-dark-soft) dashed;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .createPostContainer {
    width: calc(100% - 24px);
    gap: 12px;
    padding: 12px;
  }

  .createPostForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .dragAndDropCreatePostInput {
    font-size: 10px;
    padding: 8px 12px 8px 12px;
    min-height: 68px;

    text-align: center;
  }

  .createPostFormTitle {
    font-size: 20px;
  }

  .createPostFormCross {
    width: 32px;
    height: 32px;
  }

  .createPostFormButton {
    width: 96px;
    height: 36px;
  }
}