.statistic {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  padding: 24px;
  gap: 24px;
}

.metricCards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
}

.tableChartsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  gap: 50px;
}

.statisticMetricCard {
  width: 100%;
}

.tableChartWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  p {
    font-size: 28px;
    font-weight: 600;
  }
}

@media (max-width: 1000px) {
  .metricCards {
    flex-wrap: wrap;
    gap: 12px;
  }
}

@media (max-width: 768px) {
  .statistic {
    padding: 12px;
  }

  .metricCards {
    justify-content: flex-start;
  }

  .tableChartsContainer {
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    margin-bottom: 200px;
  }

  .tableChartWrapper {

    gap: 12px;


    p {
      font-size: 18px;

    }
  }

}